@tailwind base;

@layer base {
  :root {
    --palette-100: 210deg 40% 96%;
    --palette-200: 214deg 32% 91%;
    --palette-300: 213deg 27% 84%;
    --palette-400: 215deg 20% 65%;
    --palette-500: 215deg 16% 47%;
    --palette-600: 215deg 19% 35%;
    --palette-700: 215deg 21% 27%;
    --palette-800: 217deg 33% 17%;
    --palette-900: 222deg 47% 11%;

    --pgreys-100: 0deg 0% 96%;
    --pgreys-200: 0deg 0% 90%;
    --pgreys-300: 0deg 0% 83%;
    --pgreys-400: 0deg 0% 64%;
    --pgreys-500: 0deg 0% 45%;
    --pgreys-600: 0deg 0% 32%;
    --pgreys-700: 0deg 0% 25%;
    --pgreys-800: 0deg 0% 15%;
    --pgreys-900: 0deg 0% 9%;
  }

  @font-face {
    font-family: Noto Sans;
    font-weight: 300;
    src: url("/fonts/NotoSans-Light.ttf");
  }
  @font-face {
    font-family: Noto Sans;
    font-weight: 400;
    src: url("/fonts/NotoSans-Regular.ttf");
  }
  @font-face {
    font-family: Noto Sans;
    font-weight: 600;
    src: url("/fonts/NotoSans-SemiBold.ttf");
  }
  @font-face {
    font-family: Noto Sans;
    font-weight: 700;
    src: url("/fonts/NotoSans-Bold.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("/fonts/Roboto-Light.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url("/fonts/Roboto-Bold.ttf");
  }
}

@tailwind components;

@layer components {
  .btn {
    font-size: 0.875rem;
    font-weight: semibold;
    text-transform: none;
  }
  .btn-sm {
    height: 2.3rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}

@tailwind utilities;

/* End text in ellipsis (single line) */
@layer utilities {
  .ellipsis-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
